@{
    string username = User.Identity.Name;
}



<div>

    <h4>  Welcome @username !</h4>


	<div class="col-sm-9">
		<div class="well">
			<h4>Dashboard</h4>
			<p>Student Management System allow you to find appropriate courses.</p>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well">
					<h4>Users</h4>
					<p>View students and see the details about them.</p>
					<button type="button" class="btn btn-primary btn-block" type="button" href="/Student/Index">Student List</button>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h4>Courses</h4>
					<p>View students and choose the course that you would like to.</p>
					<button type="button" class="btn btn-primary btn-block" href="/Course/Index">Enroll Course</button>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h4>My Courses</h4>
					<p>View courses that you have already enrolled.</p>
					<button type="button" class="btn btn-primary btn-block" href="/Courses/SelectedCourseIndex">My Courses</button>

				</div>
			</div>
			
		</div>
	
	</div>
</div>
</div>













  

  @*  <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Student Management System</h1>
				
				<div class="row">
					<div class="col-md-4">
						<h3 class="github-link">For Viewing students<a href=/Student/Index" target="_blank">Student List</a></h3>
					</div>

					<div class="col-md-4">
						<ul class="features-list">
						<li><span class="glyphicon glyphicon-pushpin"></span> For choosing courses  <a href="/Course/Index/">Course Selection</a></li>
						</ul>
					</div>

						<div class="col-md-4">
							<ul class="features-list">
								<li><span class="glyphicon glyphicon-pushpin"></span> For viewing selected courses  <a href="/Course/SelectedCourseIndex/">My Courses</a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>*@





</div>